<configuration>
<configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="LibNet.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
</configSections>
<appSettings><add key="LibNet.TerraServer.TerraService" value="http://terraserver-usa.com/TerraService2.asmx"/></appSettings>
    <applicationSettings>
        <LibNet.Properties.Settings>
            <setting name="LibNet_TerraServer_TerraService" serializeAs="String">
                <value>http://msrmaps.com/TerraService2.asmx</value>
            </setting>
        </LibNet.Properties.Settings>
    </applicationSettings>
</configuration>
